@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  body {
    font-family: 'Inter', sans-serif;
  }

.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 30%;
    height: 100vh;
    background-color: #36393e;
}

.insbox1{
    justify-content: center;
    align-items: center;
    position: relative;
}

.box2 {
    position: relative;
    float: left;
    width: 70%;
    height: 100vh;
}

.reportsubmit{
    background-color: transparent;
    border: none;
    outline: none;
    color: #36393e;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

